

<app-home> </app-home>
<app-navbar> </app-navbar>

<div class="header">
  <h1> My First Angular Page</h1>

</div>

<!--
<div class="nav">
  <ul style="list-style-type:none;" *ngFor="let nav of navs">
    <li>
      <a routerLink="{{nav.link}}">
        {{nav.name}}
       </a>
    </li>
  </ul>
</div>
<hr/> -->


<!-- <div class ="navbar">
  <button type="button" class="btn btn-primary" href= "home/home.component.html"> Home</button>
  <button type="button" class="btn btn-secondary">NavBar</button>
  <button type="button" class="btn btn-success">Contact</button>
  </div> -->




<span>{{ title}} App is running!</span>

<div>
  <h1> Hi! {{title.toUpperCase()}}!! </h1>
  <h1> Hello {{ name}} !!</h1>
</div>

<div class="footer">
  <div class ="navbar">
    <button type="button" class="btn btn-primary" > Home</button>
    <button type="button" class="btn btn-secondary"> NavBar </button>
    <button type="button" class="btn btn-success" > Contact</button>
    </div>
</div>


<!-- <router-outlet> </router-outlet> -->

